@import 'https://fonts.googleapis.com/css?family=Kumar+One';
@import 'https://fonts.googleapis.com/css?family=Kumar+One+Outline';

body {  

}
.center{
	text-align: center;
}

.pageTitle{
	text-align: center;
	margin: 1em;
	font-size: 5em;
	font-family: 'Kumar One'
}
textarea{
	background-color: #f1f3e8
}
@import './banner.scss';
@import './navbar.scss';
@import './home.scss';
